<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="well sidebar">
         <img id="logo" src="/img/logo.png" alt="" />
         <h3 class="font1">Shoe Distrobution</h3>
         <p>Click on one of the buttons below to view distribution either by store or by brands</p>
         <div class="">

             <a  href="/stores"><p class="welcome_button">Stores</p></a>
             <a href="/brands"><p class="welcome_button">Brands </p></a>
         </div>

      </div>
      <div class="welcome">
          <span>Welcome<br> To<br> ABC<br> shoe<br> distribution</span>
      </div>

  </body>
</html>
