<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     <h1>Stores</h1>
     {% if allStores is not empty%}
        <ul>
            {% for store in allStores%}
            <a href="/stores/{{store.getId}}"><li>{{store.getName}}</li></a>
            {% endfor %}
        </ul>

     {% else %}
     <h1>There are no stores. Please add Stores!</h1>
     {% endif %}
     <form action="/stores" method="post">
        <div class="form-group">
            <label  for="">Create New Store:</label>
            <input class="form-control" type="text" name="name">
            <button class="form-control btn btn-success" type="submit" name="button">Submit</button>
        </div>
     </form>
     {% if selected_store %}
     <div class="well">
         <p><strong>Store Name: </strong>{{selected_store.getName}} </p>
         <form class="" action="/stores/delete" method="post">
             <input type="hidden" name="_method" value="delete">
             <input type="hidden" name="store_id" value="{{selected_store.getId}}">
             <button class="btn btn-danger form-control" type="submit" name="button">Delete</button>
         </form>
     </div>
     {% endif %}

  </body>
</html>
