body{
    background: url('/img/background.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: white;
}
ul{
    list-style: none;
}
a{
    color: inherit;
 }
 .nav-link
 {
     text-decoration: underline;
 }
.row{
    background: rgba(0,0,0, 0.5);
    margin: 30px auto;
    padding: 15px;
    color: white;
}

.well{
    width: 60%;
    margin: auto; 0;
}
.sidebar{
    position: fixed;
    left: 0;
    height: 100%;
    width: 27%;
    text_align: center;
}
#logo{
    max-width: 85%;
}
ul{
-moz-column-count: 6;
-moz-columns: 6;
-webkit-columns: 6;
columns: 6;
}


.welcome, .content{
    width: 70%;
    font-family: 'Roboto Mono', monospace !important;
    text-shadow: 1px 1px 19px   rgba(0, 0, 0, 0.7);
    font-size: 6em;
    position: fixed;
    right: 0px;
    height: 100%;
    margin: 0px;
    color: white;
}
.content2{
    width: 65%;
    font-family: 'Roboto Mono', monospace !important;
    position: fixed;
    right: 4%;
    height: 100%;
    margin: 0px;
    /*color: white;*/

}
.btn{
    background: black!important;
}
.btn:hover{
    background: white !important;
    color: black;
}
.welcome_button{
    border: 1px solid;
    width: 75%;
    padding: 10px;
    text-align: center;
}

.welcome_button:hover{
    background: black;
    box-shadow: 1px 1px 1px 0px grey;
    transition: all .3s;
    color: white;
}
